*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Oswald", sans-serif;
    /*background-color: #000000;
    /* Pattern from https://www.heropatterns.com/ */
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    */color: #1e272e; 
    color: #fff;
    font-size: 18px;
    background-color: #03021A;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23142944' stroke-width='2.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23195553'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}
a{
    color: #fff;
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

/*Estilos de navegacion*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px 0d;
}

.nav-brand{
    width: 50px;
}

/*Navegacion Left*/

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 7px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.footer{
    background: #2f3640;
    color: #fff7f7bd;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
    transition: 2s !important;
}

.footer:hover{
    margin: 0;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.733), 0 0 15px rgba(255, 255, 255, 0.849), 0 0 30px rgba(255, 255, 255, 0.89);
    transition: 2s !important;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 26px;
    right: 30px;
    /*El z index es para si queremos que quede incima de todo o depende el numero de capa*/
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}

/*ShowCase*/
hr{
    margin: 10px 0;
}

.showcase{
    width: 100%;
    height: 560px;
    background: url('../img/fondoP.jpg') no-repeat center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}
.paraNombre{
    color: rgb(123, 255, 0);
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
} 

.btn_h {
    padding: 10px 20px;
    border: 2px solid #01ffdd;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #ffffff;
   }
   
    .btn_h::before {
    content: '';
    width: 0;
    height: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #a534f0;
    transition: .5s ease;
    display: block;
    z-index: -1;
    }

    .btn_h:hover::before {
    width: 105%;
    }

    .btn_h:hover {
        color: #fff;
    }
   


.showcase h2,
.showcase p{
    margin-bottom: 10px;
}

/*New Cards*/
.new-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 25px 0;
}
.new-card img{
    width: 100%;
    height: auto;
    border-radius: 2%;
}
.new-card h3{
    font-size: 20px;
    margin: 10px 0;
}
.new-card a{
    padding: 10px 0;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.new-card a:hover{
    text-decoration: underline;
}

/*Banner*/
.cards-banner-one{
    width: 100%;
    height: 350px;
    /*background: url('../img/header.jpg');*/
    margin-bottom: 40px;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%231c0822' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23380f44' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23531766' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%236f1e88' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%238B26AA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;
}
.cards-banner-one p,
.cards-banner-one h2{
    margin: 10px 0 20px;
}

/*Baner dos*/
.cards-banner-two{
    width: 100%;
    height: 350px;
    /*background: url('../img/banner2.jpg') no-repeat center center/cover; */
    background-color: #2E1055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%236356FF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23161B55'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
}
.cards-banner-two .content{
    width: 50%;
    padding: 100px 0 0 30px;
}

.social{
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    margin: 0 30px;
}
.links a i{
    font-size: 3rem;
}
.links a i:hover{
    opacity: .5;
}
.show{
    display: none;
}

/*Codigo para dominios*/
.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about__img{
    text-align: center;
}

.about__img--left{
    text-align: left;
}
.about__picture{
    max-width: 80%;
}
.about__text h3:hover{
    margin: 0;
    text-shadow: 0 0 6px rgba(219, 128, 255, 0.973), 0 0 17px rgb(159, 79, 170), 0 0 30px rgb(210, 112, 255);
    transition: 1s !important;
}
/*codigo para el video*/
.videoo{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 56.25%;
}
.videoo iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 800px){
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #1f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show{
        transform: translate(-20px);
    }
    .nav-main ul.nav-menu li{
        padding: 20px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu-right{
        margin-right: 40px;
    }
    
    .new-card{
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 80%;
    }
    .links a i{
        font-size: 2.5rem;
    }

    .cards-banner-one .content h2,
    .cards-banner-two .content h2{
        font-size: 20px;
    }
    .cards-banner-one .content p,
    .cards-banner-two .content p{
        font-size: 18px;
    }
}

@media (max-width: 500px){
    .new-card{
        grid-template-columns: 1fr;
    }
    .new-card img{
        height: auto;
    }
    
    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 100%;
        padding: 60px 20px;
    }
    .links a i{
        font-size: 1.5rem;
    }
    .cards-banner-one .content h2,
    .cards-banner-two .content h2{
        font-size: 18px;
    }
    .cards-banner-one .content p,
    .cards-banner-two .content p{
        font-size: 15px;
    }

    .about{
        row-gap: 60px;
    }

    .about.container{
        padding-top: 10px;
    }

}


/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #110250;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{ /*iconos*/
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    padding: 0;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #FA00FA;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.box_names{
    display: flex;
    flex-direction: column;
}
.box_names a{
    text-decoration: none;
    color: #fff;
    padding: 4px;
}
@media screen and (max-width:1000px){
    .pie-pagina .grupo-1{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

    .about{
        grid-template-columns: 1fr;
    }

    .about.container{
        padding-top: 30px;
    }

    .about__img--left{
        text-align: center;
    }
}




.button {
    --width: 100px;
    --height: 25px;
    --button-color: #7708b8;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    transition: background box-shadow 0.3s;
    -webkit-box-shadow: 4px 8px 19px -3px #7708b8;
    box-shadow: 0px 0px 20px -3px #7708b8;
    text-shadow: 0 0 .4em rgb(255, 255, 255);
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    background-color: var(--button-color);
    font-size: 0.9rem;
    color: #111;
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--button-color);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.45s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    background: #4586ff;
    box-shadow: 0px 0px 20px -3px #4586ff;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }